* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-image: url('../img/backgrounds/fondoSpacio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}