#myBtn2 {
    background-color: #9F00D8;
    color: aliceblue;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10%;
    padding: 1vw;
    width: 10vw;
    border-color: transparent;
    cursor: pointer;
   
}

#myBtn2 {
    color: aliceblue;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #9F00D8;
    border-radius: 10%;
    padding: 1vw;
    width: 10vw;
    border-color: transparent;
    cursor: pointer;
    font-size:1.5rem;
}

#myBtn2:hover {
    background-color: #B760D5;
}

#myBtn2:active {
    background-color: #9F00D8;
}
@media (max-width: 768px) {
    #myBtn2 {
        background-color: #9F00D8;
        
        color: aliceblue;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 10%;
        padding: 1vw;
        width: 50%;
        border-color: transparent;
        cursor: pointer;
        
    }
    
}
