#cancelar {
    background-color: #DF017A;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
}

#cancelar:hover {
    background-color: #DB6CA7;
}

#cancelar:active {
    background-color: red;
}

@media (max-width: 768px) {
    #cancelar {
        background-color: #DF017A;
        color: aliceblue;
        font-size: 1em;
        font-weight: bold;
      
        border-radius: 10%;
        padding: 1vw;
        width: 100%;
        border-color: transparent;
        cursor: pointer;
        
    }
    
}