.btn-modificar {
    background-color: #d8b844;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-modificar:hover {
    background-color: #b89c37;
}

.btn-modificar:active {
    background-color: #fcd031;
}